@import "../utils/mixins";

footer {
    background: $text-color;
    color: $color-light;
    padding: 30px;
    h2 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        @include flex(column);
        gap: 10px;
    }
    a {
        text-decoration: none;
        color: $color-light;
    }

    @include global-desktop {
        padding: 30px 25px; 
        @include flex(row-reverse);
        align-items: flex-end;
        gap: 100px;
        ul {
            flex-direction: row;
            gap: 15px;
        }
        h2 {
            margin-bottom: 0;
        }
    }
}