.step {
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: left;
    background: $bg-color;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); //mettre en variable
    color: $text-color;
    padding: 30px 15px;
    position: relative;
    h3 {
        position: absolute;
        left: -15px;
        display: flex; //mixin
        justify-content: center;
        align-items: center;
        color: #fff;
        background: $btn-color;
        width: 24px;
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 50%;
    }
    p {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
    }
    i {
        color: #7E7E7E; //mettre variable
        width: 15px;
        height: 20px;
    }
}