.hearts {
    position: relative;

    .fa-solid {
        position: absolute;
        top: 0;
        left: 0;
        color: #9356DC;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    &:hover {
        cursor: pointer;
        .fa-regular {
            opacity: 0;
        }
        .fa-solid {
            opacity: 1;
        }
    }

    .fa-lg {
        top: 9px;
    }
}
