.hearts {
    .fa-solid {
        display: none;
        opacity: 0;
        transition: all 0.5s;
    }
    &:hover {
        cursor: pointer;
        .fa-regular {
            display: none;
            opacity: 0;
        }
        .fa-solid {
            display: block;
            opacity: 1;
            // color: linear-gradient(90deg, #9356DC, #FF79DA);
            color: #9356DC;
        }
    }
}
