header {
    position: relative;
    @include flex(column);
    align-items: center;
    justify-content: center;
    .title {
        font-size: 30px;
        font-weight: 400;
        padding: 5px;
        @include global-desktop {
            padding: 20px;
        }
    }
    a {
        position: absolute;
        left: 10px;
        color: $text-color;
    }
}
