.menu-card {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);  //variable
}
//nesting
.menu-content {
    @include flex(column);
    gap: 5px;
    flex: 1;
    h4 {
        font-size: 18px;
        font-weight: 500;
    }
    p {
        font-size: 15px;
        font-weight: 300;
    }
}

.menu-price {
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;
    color: $text-color;
}