.menu-card {
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);  //variable

    .menu-content {
        padding: 10px;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .check {
        display: flex;
        opacity: 0;
        visibility: hidden;
        align-items: center;
        transform: translateX(100%);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: $new-bg;

        transition: transform 0.5s ease, opacity 0.1s ease;
        i {
            color: #fff;
        }
    }

    .menu-price {
        position: absolute;
        align-self: flex-end;
        left: 100%;
        font-size: 15px;
        font-weight: 700;
        color: $text-color;
        transition: transform 0.5s ease;
    }

    &:hover {
        cursor: pointer;
        .check {
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }

        .menu-price {
            transform: translateX(-110%);
        }
    }
}
//nesting
.menu-text {
    @include flex(column);
    gap: 5px;
    flex: 1;
    h4 {
        font-size: 18px;
        font-weight: 500;
    }
    p {
        font-size: 15px;
        font-weight: 300;
    }
}