.restaurant {
    display: flex; //mixin
    flex-direction: column;
    position: relative;
    background: #fff;
    border-radius: 15px;
    height: 230px;
    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .card-content {
        display: flex; //mixin
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 20px;
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
    }

    .card-txt p {
        font-size: 17px;
        font-weight: 300;
    }
}

