@import "../utils/_variables";
@import "../utils/mixins";
@import "../utils/global";
@import "../components/header";
@import "../components/footer";
@import "../components/func-btn";
@import "../components/heart";
@import "../components/main-btn";
@import "../components/new";
@import "../components/restaurant-card";





.location-form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $second-bg-color;
    color: $text-color;
    gap: 17px;
    input {
        border: none;
        background: inherit;
    }
    input:focus {
        outline: none;
    }
    input[type="text"] {
        font-size: 16px;
        font-weight: 500;
    }
}

.location {
    margin-left: 60px;
    display: flex;
    width: 50%;
    height: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    gap: 15px;
    background: $bg-color;
    h2 {
        font-size: 24px;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    background: $bg-color;
    padding: 30px;
    gap: 30px;
    a {
        text-decoration: none;
        color: $title-color;
    }
}