@import "../utils/_variables";
@import "../utils/mixins";
@import "../utils/global";
@import "../components/header";
@import "../components/footer";
@import "../components/func-btn";
@import "../components/heart";
@import "../components/main-btn";
@import "../components/new";
@import "../components/restaurant-card";

@keyframes moveInCircle {
    to {
        transform: rotate(360deg);
    }
}

body {

    .loading-screen {
        position: absolute;
        right: 45%;
        top: 50%;
        // display: flex;
        // gap: 25px;
        width: 0;
        height: 0;
        $circle-radius: 120px;
        $offset: 0deg;
        // animation: moveInCircle 6s linear infinite;
        @for $i from 1 through 7 {
            $angle: 45deg * $i;
            $x: $circle-radius * cos($angle + $offset);
            $y: $circle-radius * sin($angle + $offset);
            i:nth-child(#{$i}) {
                transform: translate($x, $y);
                $x: $x + 20;
                $y: $y + 20;
                color: nth($rainbow-colors, $i);
            }
        }
    }
    .main-container {
        opacity: 0;
        transition: all 3s ease;
    }
    &:has(div) {
        .main-container {
            opacity: 100%;
        }
    }
}



.location-form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $second-bg-color;
    color: $text-color;
    gap: 17px;
    input {
        border: none;
        background: inherit;
    }
    input:focus {
        outline: none;
    }
    input[type="text"] {
        font-size: 16px;
        font-weight: 500;
    }
}

.location {
    margin-left: 60px;
    display: flex;
    width: 50%;
    height: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    gap: 15px;
    background: $bg-color;
    h2 {
        font-size: 24px;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
    @include fonctionnement-row {
        padding: 50px 180px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        h2 {
            grid-column: span 3;
        }
        .step {
            margin-top: 25px;
            margin-right: 24px;
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background: $bg-color;
    padding: 30px;
    gap: 30px;
    a {
        text-decoration: none;
        color: $title-color;
    }
    @include restaurant-grid {
        padding: 30px 180px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
        grid-column-gap: 10px;
        h2 {
            grid-column: span 2;
        }
        .restaurant {
            height: 350px;
            width: 650px;
        }
        a {
            width: fit-content;
        }
    }
}

@media screen and (min-width:1024px) {
    main {
        max-width: none;
        width: 100%;
    }
}