@import "../utils/_variables";
@import "../utils/mixins";
@import "../utils/global";
@import "../components/header";
@import "../components/footer";
@import "../components/func-btn";
@import "../components/heart";
@import "../components/main-btn";
@import "../components/new";
@import "../components/restaurant-card";

$animation-duration: 1s;
$logo-duration: 0s;
$logo-gap: 0.1s; 

@keyframes loading-before {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    60% {
        opacity: 30%;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes loading-after {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }

    66% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

body {
    @include flex(column);
    .loading-screen {
        position: absolute;
        @include flex(column);
        align-items: center;
        justify-content: center;
        height: 80%;
        align-self: center;
        justify-self: center;
        gap: 50px;
        @include global-desktop {
            flex-direction: row;
        }
        @for $i from 1 through 8 {
            $delay: ($i - 1) * ($logo-duration + $logo-gap); // Calculer le décalage
            i:nth-child(#{$i}) {
                animation: upAndDown $animation-duration ease $delay;
                animation-delay: $delay;
                color: nth($rainbow-colors, $i);
            }
        }
        animation: loading-before 3s ease forwards;
    }
    .main-container {
        animation: loading-after 6s ease forwards;
    }
    &:has(+ div) {
        .main-container {
            opacity: 100%;
        }
    }

    .main-container {
        opacity: 0;
    }
}



.location-form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $second-bg-color;
    color: $text-color;
    gap: 17px;
    input {
        border: none;
        background: inherit;
    }
    input:focus {
        outline: none;
    }
    input[type="text"] {
        font-size: 16px;
        font-weight: 500;
    }
}

.location {
    margin-left: 60px;
    display: flex;
    width: 50%;
    height: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.explore {
    @include flex(column);
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    gap: 15px;
    background: $bg-color;
    h2 {
        font-size: 24px;
        font-weight: 700;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.fonctionnement {
    @include flex(column);
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
    @include global-desktop {
        padding: 50px 180px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        h2 {
            grid-column: span 3;
        }
        .step {
            margin-top: 25px;
            margin-right: 24px;
        }
    }
}

.restaurants {
    @include flex(column);
    background: $bg-color;
    padding: 30px;
    gap: 30px;
    a {
        text-decoration: none;
        color: $title-color;
    }
    @include global-desktop {
        padding: 30px 180px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
        grid-column-gap: 10px;
        h2 {
            grid-column: span 2;
        }
        .restaurant {
            height: 350px;
            width: 650px;
        }
        a {
            width: fit-content;
        }
    }
}

@media screen and (min-width:1024px) {
    main {
        max-width: none;
        width: 100%;
    }
}