@import "../utils/_variables";
@import "../utils/mixins";
@import "../utils/global";
@import "../components/header";
@import "../components/footer";

@import "../components/menu-title";
@import "../components/menu-card";


main {
    background: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.restaurant-container {
    background: $bg-color;
    border-radius: 20px;
    padding: 20px;
    height: 70%;
}

.restaurant-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h2 {
        font-family: "Shrikhand", sans-serif;
        font-size: 28px;
        font-weight: 400;
    }
}