@import "../utils/_variables";
@import "../utils/mixins";
@import "../utils/global";
@import "../components/header";
@import "../components/footer";
@import "../components/main-btn";
@import "../components/menu-title";
@import "../components/heart";
@import "../components/menu-card";


main {
    @include flex(column);
    justify-content: flex-end;
    @include global-desktop {
        max-width: none;
    }
}

.bg-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @include global-desktop {
        height: 600px;
    }
}

.restaurant-container {
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
    background: $bg-color;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
    @include flex(column);
    button {
        align-self: center;
        margin-top: 40px;
    }
    @include global-desktop {
        width: 65%;
        align-self: center;
    }
}



.restaurant-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    margin: 10px;
    h1 {
        font-family: "Shrikhand", sans-serif;
        font-size: 26px;
        font-weight: 400;
        white-space: nowrap;
    }
    @include global-desktop {
        justify-content: center;
        margin-top: 50px;
    }

    i {
        font-size: 25px;
    }
}

.menu {
    @include flex(column);
    gap: 20px;
    @include global-desktop {
        width: 60%;
        align-self: center;
    }
}