$new-bg: #99E2D0;
$new-txt: #008766;
$bar-color: #89C8FA;
$btn-color: #9356DC;
$bg-color: #F6F6F6;
$second-bg-color: #EAEAEA;
$text-color: #353535;
$title-color: #000000;
$color-light: #fff;

$rainbow-colors: (
  #FF0000, 
  #FF7F00, 
  #FFFF00, 
  #00FF00, 
  #0000FF, 
  #4B0082, 
  #9400D3,
  #FF00FF
);