* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  max-width: 1440px;
  margin: auto;
}

.title {
  font-family: "Shrikhand", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .title {
  font-size: 30px;
  font-weight: 400;
}
header a {
  position: absolute;
  left: 10px;
  color: #353535;
}

footer {
  background: #353535;
  color: #fff;
  padding: 30px;
}
footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 100px;
  }
  footer ul {
    flex-direction: row;
    gap: 15px;
  }
  footer h2 {
    margin-bottom: 0;
  }
}

.step {
  display: flex;
  gap: 15px;
  align-items: center;
  text-align: left;
  background: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  color: #353535;
  padding: 30px 15px;
  position: relative;
}
.step span {
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #9356DC;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
}
.step h3 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.step i {
  color: #7E7E7E;
  width: 15px;
  height: 20px;
}

.hearts {
  position: relative;
}
.hearts .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.hearts:hover {
  cursor: pointer;
}
.hearts:hover .fa-regular {
  opacity: 0;
}
.hearts:hover .fa-solid {
  opacity: 1;
  line-height: normal;
}
.hearts .fa-lg {
  line-height: 0;
}

.main-btn {
  border: none;
  border-radius: 25px;
  color: #fff;
  width: 218px;
  height: 50px;
  background: linear-gradient(193deg, #9356DC, #FF79DA);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.main-btn:active {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .main-btn:hover {
    filter: brightness(1.1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  }
}

.new {
  background: #99E2D0;
  color: #008766;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.new p {
  font-size: 14px;
  font-weight: 500;
}

.restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;
  border-radius: 15px;
  height: 230px;
}
.restaurant img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 20px;
}
.restaurant h3 {
  font-size: 18px;
  font-weight: 700;
}
.restaurant .card-txt p {
  font-size: 17px;
  font-weight: 300;
}

@keyframes loading-before {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  60% {
    opacity: 30%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  display: flex;
  flex-direction: column;
}
body .loading-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  align-self: center;
  justify-self: center;
  gap: 50px;
  animation: loading-before 3s ease forwards;
}
@media screen and (min-width: 1024px) {
  body .loading-screen {
    flex-direction: row;
  }
}
body .loading-screen i:nth-child(1) {
  animation: upAndDown 1s ease 0s;
  animation-delay: 0s;
  color: #FF0000;
}
body .loading-screen i:nth-child(2) {
  animation: upAndDown 1s ease 0.1s;
  animation-delay: 0.1s;
  color: #FF7F00;
}
body .loading-screen i:nth-child(3) {
  animation: upAndDown 1s ease 0.2s;
  animation-delay: 0.2s;
  color: #FFFF00;
}
body .loading-screen i:nth-child(4) {
  animation: upAndDown 1s ease 0.3s;
  animation-delay: 0.3s;
  color: #00FF00;
}
body .loading-screen i:nth-child(5) {
  animation: upAndDown 1s ease 0.4s;
  animation-delay: 0.4s;
  color: #0000FF;
}
body .loading-screen i:nth-child(6) {
  animation: upAndDown 1s ease 0.5s;
  animation-delay: 0.5s;
  color: #4B0082;
}
body .loading-screen i:nth-child(7) {
  animation: upAndDown 1s ease 0.6s;
  animation-delay: 0.6s;
  color: #9400D3;
}
body .loading-screen i:nth-child(8) {
  animation: upAndDown 1s ease 0.7s;
  animation-delay: 0.7s;
  color: #FF00FF;
}
body .main-container {
  animation: loading-after 6s ease forwards;
}
body:has(+ div) .main-container {
  opacity: 100%;
}
body .main-container {
  opacity: 0;
}

.location-form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  color: #353535;
  gap: 17px;
}
.location-form input {
  border: none;
  background: inherit;
}
.location-form input:focus {
  outline: none;
}
.location-form input[type=text] {
  font-size: 16px;
  font-weight: 500;
}

.location {
  margin-left: 60px;
  display: flex;
  width: 50%;
  height: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  gap: 15px;
  background: #F6F6F6;
}
.explore h2 {
  font-size: 24px;
  font-weight: 700;
}
.explore p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 50px 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .fonctionnement h2 {
    grid-column: span 3;
  }
  .fonctionnement .step {
    margin: 25px 24px 0 0;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  padding: 30px;
  gap: 30px;
}
.restaurants a {
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 30px 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 10px;
  }
  .restaurants h2 {
    grid-column: span 2;
  }
  .restaurants .restaurant {
    height: 350px;
    width: 650px;
  }
  .restaurants a {
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: none;
    width: 100%;
  }
}/*# sourceMappingURL=home.css.map */