* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  max-width: 1440px;
  margin: auto;
}

.title {
  font-family: "Shrikhand", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header.header-restaurant {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
header.header-restaurant .title {
  padding-left: 0;
}
header .title {
  text-align: center;
  height: 50px;
  padding: 14px 89px 5px 89px;
  font-size: 30px;
  font-weight: 400;
  flex: 1;
}
header i {
  color: #353535;
  margin-left: 20px;
  cursor: pointer;
}

footer {
  background: #353535;
  color: #fff;
  padding: 30px;
}
footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 30px 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 100px;
  }
  footer ul {
    flex-direction: row;
    gap: 15px;
  }
  footer h2 {
    margin-bottom: 0;
  }
}

.main-btn {
  border: none;
  border-radius: 25px;
  color: #fff;
  width: 218px;
  height: 50px;
  background: linear-gradient(193deg, #9356DC, #FF79DA);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.main-btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.menu-title {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.menu-title h3 {
  font-size: 16px;
  font-weight: 300;
}
.menu-title .menu-stroke {
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
@media screen and (min-width: 1024px) {
  .menu-title {
    margin-bottom: 0;
    margin-top: 60px;
  }
}

.menu-card {
  background: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.menu-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.menu-text h4 {
  font-size: 18px;
  font-weight: 500;
}
.menu-text p {
  font-size: 15px;
  font-weight: 300;
}

.menu-content {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu-price {
  align-self: flex-end;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}

.check {
  display: flex;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #99E2D0;
}
.check i {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 1024px) {
  main {
    max-width: none;
  }
}

.bg-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .bg-img {
    height: 600px;
  }
}

.restaurant-container {
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  background: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.restaurant-container button {
  align-self: center;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .restaurant-container {
    width: 65%;
    align-self: center;
  }
}

.restaurant-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  gap: 40px;
}
.restaurant-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .restaurant-title {
    justify-content: center;
    margin-top: 50px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 60%;
    align-self: center;
  }
}/*# sourceMappingURL=restaurant.css.map */